* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
#header {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #0088cb;
    padding: 0px 20px;
}
#logo {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('assets/images/HOM_Logo_Vector.svg');
}
#home {
    font-size: 30px;
    color: #ffa500;
    margin-left: 10px;
}
#icons {
    display: inline-flex;
    position: absolute;
    top: 15px;
    left: calc(100% - 20px);
    transform: translateX(-100%);
    color: #ccc;
    font-size: 15px;
}
#icons i {
    margin: 0px 5px;
    cursor: pointer;
}
.fa-user-circle {
    color: #555;
    margin-right: 5px;
}
#icons span {
    white-space: nowrap;
    margin-right: 5px;
    color: #555;
}
#input {
    position: absolute;
    top: 50%;
    left: calc(100% - 20px);
    transform: translate(-100%, -50%);
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #fff;
    color: gray;
    width: 350px;
    font-size: 15px;
}
#nav {
    display: inline-flex;
    position: absolute;
    top: calc(100% - 15px);
    left: calc(100% - 20px);
    transform: translate(-100%, -100%);
    font-size: 15px;
}
.item {
    padding: 2px 5px;
    white-space: nowrap;
    color: #ccc;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 6px;
}
.item i {
    margin-right: 2px;
}
.item.active {
    background-color: #fff;
    color: #000;
}
.item.active i {
    color: #0088cb;
}
#nav .item:last-child {
    border-right: none;
    padding-right: 0px;
}
.tabs {
    display: inline-flex;
    width: 100%;
    height: 45px;
    background-color: #404040;
    padding: 0px 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    top: 15px;
    background-color: #666666;
    font-size: 15px;
    color: rgba(255, 255, 255, .6);
    -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 15px;
}
.tab.active {
    background-color: #fff;
    color: #0088cb;
    z-index: 1;
    font-weight: bold;
}
.tabs .tab:nth-child(2) {
    transform: translateX(-3px);
}
.tabs .tab:nth-child(3) {
    transform: translateX(-6px);
}
.tabs .tab:nth-child(4) {
    transform: translateX(-9px);
}
.tabs .tab:nth-child(5) {
    transform: translateX(-12px);
}
.tabs .tab:nth-child(6) {
    transform: translateX(-15px);
}
.tabs .tab:nth-child(7) {
    transform: translateX(-18px);
}
#main {
    display: inline-flex;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
#left {
    width: 450px;
    height: auto;
    padding: 20px;
    padding-top: 0px;
    border-right: 1px solid #d9d9d9;
    padding-bottom: 0px;
}
.title {
    width: 100%;
    height: auto;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
}
#right {
    position: relative;
    width: calc(100% - 450px);
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.label {
    width: 100%;
    font-size: 16px;
    height: auto;
    margin-top: 10px;
}
.label.c {
    text-align: center;
}
a {
    font-size: 15px;
    color: #0088cb;
    text-decoration: underline;
}
.txt {
    width: 100%;
    font-size: 15px;
    color: gray;
    padding-left: 5px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 10px 0px;
}
.light {
    font-size: 15px;
    color: gray;
}
.boxs {
    display: inline-flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.box {
    padding: 5px;
    font-size: 16px;
    height: auto;
    text-align: center;
}
.box.b2 {
    width: 50%;
}
.money {
    color: green;
    font-size: 14px;
}
.box.b3 {
    position: relative;
    text-align: left;
    width: 33.33%;
    background-color: #f2f2f2;
    margin-right: 1px;
    border: 1px solid #d9d9d9;
}
.boxs .b3:last-child {
    margin-right: 0px;
}
.fa-plus {
    position: absolute;
    top: 5px;
    left: calc(100% - 5px);
    transform: translateX(-100%);
    font-size: 15px;
    color: #0088cb;
    cursor: pointer;
}
#pts {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #d9d9d9;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 20px;
    overflow: hidden;
}
#pt-header {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    height: auto;
    text-align: center;
    font-size: 16px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
}
#pt-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
}
#t-input {
    width: calc(100% - 150px)!important;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #f2f2f2;
    color: gray;
    width: 350px;
    font-size: 15px;
}
#pill-con {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    color: gray;
}
#pill {
    position: relative;
    width: 50px;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
    background-color: #f2f2f2;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s;
}
#pill.active {
    background-color: #0088cb;
}
#p-slider {
    position: absolute;
    width: 30px;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    transition: transform .2s;
}
#pill.active #p-slider {
    transform: translateX(20px);
}
#pt-content {
    position: relative;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    border-top: 1px solid #d9d9d9;
}
.pt-item {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
#pt-content .pt-item:nth-child(even) {
    background-color: #f2f2f2;
}
.fa-trash-alt {
    position: absolute;
    top: 10px;
    left: calc(100% - 10px);
    transform: translateX(-100%);
    color: red;
}
.select {
    position: relative;
    width: 100px;
    height: auto;
    padding: 3px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin: auto;
    margin-top: 3px;
    font-size: 14px;
    padding-left: 10px;
    color: gray;
}
.picker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25px;
    height: 100%;
    color: #0088cb;
    left: calc(100% - 25px);
    top: 0;
    border-left: 1px solid #d9d9d9;
}
.r-title {
    font-size: 20px;
    margin-bottom: 5px;
}
.r-content {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #d9d9d9;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}
.r-header {
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 3px 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 5px;
}
.rh-label {
    font-size: 15px;
    width: 12.5%;
}
.rh-info {
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 5px 20px;
}
.blue {
    color: #0088cb;
}
.actions {
    display: inline-flex;
    justify-content: center;
}
.actions i {
    margin: 0px 10px;
    cursor: pointer;
}
.fa-pencil-alt {
    color: green;
}
.fa-exclamation-triangle, .fa-upload {
    color: #ffa500;
}
.fa-bars {
    color: gray;
}
#footer {
    width: 100%;
    height: 50px;
    background-color: #0088cb;
}